body {
  color: rgb(185, 25, 47);
  text-align: justify;
  background-color: black;

  //background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpaperscraft.com%2Fimage%2Fcolumns_architecture_antique_145879_1920x1080.jpg&f=1&nofb=1');
  //backgroundsize: contain;
  //background-repeat: no-repeat;
}

picture {
  display: block;
  size: 75px;
}
