body {
  color: rgb(185, 25, 47);
  text-align: justify;
  background-color: black;
  text-align: center;
  padding: 50px;
  //align-items: length($list: poster);
  //border: solid 2px chartreuse;
  //background-repeat: no-repeat;
}

#film.poster {
  border: solid 2px chartreuse;
  width: 100px;
  height: 100px;
}
