header {
  color: rgb(226, 130, 5);
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpaperscraft.com%2Fimage%2Fcolumns_architecture_antique_145879_1920x1080.jpg&f=1&nofb=1');
  text-align: center;
  padding: 50px;
  height: 100px;
  font-size: large;
  font-style: bold;
}

#nav {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 83.04%;
  float: left;
  margin: 0 0 4em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-right: 1px solid #ccc;
}
