header {
  color: rgb(226, 130, 5);
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpaperscraft.com%2Fimage%2Fcolumns_architecture_antique_145879_1920x1080.jpg&f=1&nofb=1');
  text-align: center;
  padding: 50px;
  height: 100px;
}
