header {
  color: whitesmoke;
  background-color: red;
  text-align: center;
}

body {
  background-color: black;
  color: whitesmoke;
}

footer {
  color: black;
  background-color: chartreuse;
  text-align: center;
}
